<section class="TodoSection">
  <div class="TodoSectionTitle">
    <h2 class="TodoSectionTitle-text"><%= section_title %></h2>
    <h3 class="TodoSectionTitle-remainingCount"><%= todos.completed.count %> / <%= todos.count %></h3>
  </div>
  <ul>
    <%todos.each do |todo| %>
      <li class="TodoItem">
        <%= form_with(url: "/todos/#{todo.id}", method: "PUT") do %>
         <%= check_box_tag 'completed',
          nil,
          todo.completed ? true : false,
          class: "TodoItem-checkbox",
          onclick: "this.form.submit()"
         %>
        <% end %>
        <p class=<%= todo.completed ? "Todo-text-completed" : "" %>>
          <%= todo.todo_text %>
        </p>
        <% if show_due_date %>
          <p class= "TodoItem-dueDate"> <%= todo.due_date.to_s(:short) %> </p>
        <% end %>
        <%= form_with(url: "/todos/#{todo.id}", method: "DELETE") do%>
        <%= image_submit_tag "/trashcan.svg", class: "TodoItem-delete" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>
